<!DOCTYPE html>



<h3>  <%= @game.current_turn.name %> attacked <%= @game.opponent.name %> </h3>
<h3>  <%= @game.current_turn.name %> reduced <%= @game.opponent.name %>'s HP to <%= @game.player_2.hit_points %> </h3>

<form action="/switch_turns" method="post">
  <input type="submit" value="Switch turns">
</formn>
